  
body { background-color: black;
    width: 100%;
    font-family: Fjalla One;
    font-size: 16px;
    
}

header {
  height: 65px;
  width: 100%;
  margin: 0px 2px 0px 2px;
  color: white;
  text-shadow: 1px 2px rosybrown;
  background-color: black;
  box-shadow: 1px 1px maroon;
  border: 2px ridge black;
  position: fixed;
  /* float: middle; */
  /* visibility: hidden; */
}

.HOFLandMobile {
    width: 100%;
    display: inline-block;
    margin-top: 10%;
}

@media (min-width: 700px) {
    .HOFLandMobile {
        display: none;
    }
}

#toilet {
    position: relative;
    /* margin: 20px auto 0; */
    width: 100%;
    
    
    /* max-width: 400px; */
    display: block;
    
}

@media (min-width: 700px) {
    #toilet {
        position: relative;
        /* margin: 20px auto 0; */
        width: 100%;
        
        
        /* max-width: 400px; */
        display: none;
        
    }
}



#flush {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 10%;
    
    
    
}
#flushbutton {
    /* margin-top: 70%; */
    /* margin-top: 900px; */
    position: absolute;
    bottom: 29%;
    left: 15%;
    line-height: 55px;
    /* height: 45px; */
    height: 6%;
    width: 25%;
    text-align: center;
    /* width: 130px; */
    cursor: pointer;
    /* padding: 5px; */
    /* position: static; */
    padding-left: 0em;
    padding-right: 0em;
    /* position: relative;
    float: left; */
    /* border-radius: 50px; */
    border: 1px solid #000;
    border-radius: 25px;
    /* height:100%; */
    /* width: 20%; */
    background-color: black;
    transition: .3s all;

}

#flushbutton:active {
    /* transform: scale(0.5);  */
    transform: rotate(65deg);
    /* Scaling button to 0.98 to its original size */ 
    /* box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); */
}

@media (min-width: 700px) {
    #flushbutton {
        /* margin-top: 70%; */
        /* margin-top: 900px; */
        position: absolute;
        bottom: 30%;
        left: 16%;
        line-height: 25px;
        /* height: 45px; */
        height: 4%;
        width: 8%;
        text-align: center;
        /* width: 130px; */
        cursor: pointer;
        /* padding: 5px; */
        /* position: static; */
        padding-left: 0em;
        padding-right: 0em;
        /* position: relative;
        float: left; */
        /* border-radius: 50px; */
        border: 1px solid #000;
        border-radius: 25px;
        /* height:100%; */
        /* width: 20%; */
        background-color: black;
        transition: .3s all;
    
    }
}

#toiletBig {
    position: relative;
    /* margin: 20px auto 0; */
    width: 100%;
    
    
    /* max-width: 400px; */
    display: block;
    
}



@media (max-width: 700px) {
    #toiletBig {
        position: relative;
        /* margin: 20px auto 0; */
        width: 100%;
        
        
        /* max-width: 400px; */
        display: none;
        
    }
}



#flushBig {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 5%;
    
    
    
}



.banner {
    width: 100%;
    height: 90px;
    float: left;
    display: block;
    margin: auto;
    text-align: center;
    align-content: center;
    margin: 2px 0px 0px 2px;
    border: 2px ridge black;
}

.navbox {
    background-color: #AD14EB;
    background-image: linear-gradient(15deg, #DA2532 20%, #6141AB 100%);
    box-shadow: 1px 1px #9C3371;
    border-radius: 25px;
    /* box-shadow: 2px 2px maroon; */
    /* height: 46px; */
    height: 11%;
    width: 100%;
    margin: 2px 0px 0px 2px;
    border: 2px ridge black;
    /* position: sticky; */
    display: block;
    position: fixed;
    /* text-align: center; */
    top: 0;
    z-index: 1;
}

@media (min-width: 900px) {
    .navbox {
    background-color: #AD14EB;
    background-image: linear-gradient(15deg, #DA2532 20%, #6141AB 100%);
    box-shadow: 1px 1px #9C3371;
    border-radius: 25px;
    /* box-shadow: 2px 2px maroon; */
    /* height: 46px; */
    height: 16.5%;
    width: 74%;
    margin: 0px 0px 0px 2px;
    border: 2px ridge black;
    /* position: sticky; */
    display: block;
    position: fixed;
    /* text-align: center; */
    top: 0;
    
    }
}

@media (min-width: 1000px) {
    .navbox {
    background-color: #AD14EB;
    background-image: linear-gradient(15deg, #DA2532 20%, #6141AB 100%);
    box-shadow: 1px 1px #9C3371;
    border-radius: 25px;
    /* box-shadow: 2px 2px maroon; */
    /* height: 46px; */
    height: 8.5%;
    width: 74%;
    margin: 0px 0px 0px 2px;
    border: 2px ridge black;
    /* position: sticky; */
    display: block;
    position: fixed;
    /* text-align: center; */
    z-index: 1;
    }
}






.navboxteam {
    background-color: blanchedalmond;
    background-image: linear-gradient(15deg, #DA2532 0%, #6141AB 100%);
    box-shadow: 1px 1px #9C3371;
    /* box-shadow: 2px 2px maroon; */
    height: 11%;
    width: 100%;
    margin: 2px 0px 0px 2px;
    border: 2px ridge black;
    /* position: sticky; */
    display: block;
    position: fixed;
    z-index: 5;
    top: 0;
    border-radius: 25px;
    /* text-align: center; */
}

@media (min-width: 700px) {
    .navboxteam {
    background-color: #AD14EB;
    background-image: linear-gradient(15deg, #DA2532 20%, #6141AB 100%);
    box-shadow: 1px 1px #9C3371;
    border-radius: 25px;
    /* box-shadow: 2px 2px maroon; */
    /* height: 46px; */
    height: 10.5%;
    width: 100%;
    margin: 0px 0px 0px 2px;
    border: 2px ridge black;
    /* position: sticky; */
    display: block;
    position: fixed;
    /* text-align: center; */
    top: 0;
    }
}

@media (min-width: 1000px) {
    .navboxteam {
        background-color: blanchedalmond;
        background-image: linear-gradient(15deg, #DA2532 0%, #6141AB 100%);
        box-shadow: 1px 1px #9C3371;
        /* box-shadow: 2px 2px maroon; */
        height: 8.5%;
        width: 100%;
        margin: 0px 0px 0px 2px;
        border: 2px ridge black;
        /* position: sticky; */
        display: block;
        position: fixed;
        /* text-align: center; */
    }
}

/* .li {
    display: inline;
  padding: 12px;
  color: greenyellow;
  text-shadow: 1px 1px black;
  transition-duration: 0.5s;
  position: static;
} */

@media (min-width: 1000px) {
    .li {
  display: inline;
  padding: 20px;
  /* color: greenyellow; */
  text-shadow: 1px 1px black;
  transition-duration: 0.5s;
  position: static;
  
        }
  
}




.navli {
    display: inline;
    padding: 1px;
    /* color: greenyellow; */
    text-shadow: 1px 1px black;
    transition-duration: 0.5s;
    /* position: static; */
        }


@media (min-width: 1000px) {

    .navli {
        display: inline-block;
        padding: 4px;
        /* color: greenyellow; */
        text-shadow: 1px 1px black;
        transition-duration: 0.5s; 
        /* position: static; */
    }
}

.home {
    display: inline;
    padding: 0px;
    margin: 0em;
    /* color: greenyellow; */
    text-shadow: 1px 1px black;
    transition-duration: 0.5s;
    /* position: relative; */  
    display: none;
}

@media (min-width: 1000px) {

    .home {
        display: inline;
        padding: 8px;
        /* color: greenyellow; */
        text-shadow: 1px 1px black;
        transition-duration: 0.5s;
        /* position: static; */
            
    }
}

.logo {
    margin-right: 300px;
}

.VideoLogoTop {
    display: inline;
    padding: 1px;
    /* position: static; */
    padding-left: 0em;
    padding-right: 0em;
    /* position: relative; */
    /* float: left; */
    /* border-radius: 50px; */
    border: 1px solid #000;
    border-radius: 25px;
    height:100%;
    width: 100%;
    background-color: black;
    text-align: center;
    align-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.VideoLogo {
    /* display: inline; */
    padding: 1px;
    position: static;
    padding-left: 0em;
    padding-right: 0em;
    /* position: relative; */
    float: left;
    /* border-radius: 50px; */
    border: 1px solid #000;
    border-radius: 25px;
    height:100%;
    width: 100%;
    background-color: black;
    text-align: center;
    
}

@media (min-width: 1000px) {
    .VideoLogo {
    display: none;
    }
}

a:hover,
a:focus-within {
cursor: pointer;
background: transparent;
border-radius: 25px;
color: #6141AC;
margin: auto;
background: white;
}


.Ahome {
    display: inline;
    padding: 1px;
    position: static;
    padding-left: 0em;
    padding-right: 0em;
    /* position: relative; */
    float: left;
    /* border-radius: 50px; */
    border: 1px solid #000;
    border-radius: 25px;
    height:100%;
    width: 20%;
    background-color: black;
}

@media (min-width: 1000px) {
    .Ahome {
        display: none;
    }
}

.VideoLogoBig {
    
    padding: 0px;
    /* position: static; */
    padding-left: 0em;
    padding-right: 0em;
    /* position: relative; */
    float: left;
    margin-top: 0px;
    margin-left: 7px;
    /* border-radius: 50px; */
    border: 1px solid #000;
    border-radius: 25px;
    height: 30%;
    width: 100%;
    background-color: black;
    display: none;
}

@media (min-width: 800px) {
    .VideoLogoBig {
        display: inline;
        padding: 0px;
        /* position: static; */
        padding-left: 0em;
        padding-right: 0em;
        /* position: relative; */
        float: left;
        margin-top: 0px;
        margin-left: 7px;
        /* border-radius: 50px; */
        border: 1px solid #000;
        border-radius: 25px;
        height: 65%;
        width: 100%;
        background-color: black;
        /* display: none; */
    }
}

@media (min-width: 1000px) {
    .VideoLogoBig {
    display: inline-block;
    padding: 0em;
    /* position: static; */
    padding-left: 0em;
    padding-right: 0em;
    /* position: center; */
    align-self: inherit;
    margin-top: 0px;
    /* position: relative; */
    /* float: left; */
    /* border-radius: 50px; */
    border: 0px solid #9C3371;
    border-bottom: black;
    border-radius: 25px;
    height: 25%;
    width: 100%;
    background-color: black;
    }
}



li:hover,
li:focus-within {
cursor: pointer;
/* background-image: linear-gradient(15deg, #DA2532 0%, #6141AB 100%); */
color: black;


}



  ul li ul {
    visibility: hidden;
    opacity: 0;
    /* position: static; */
    /* position: relative; */
    transition: all 0.5s ease;
    margin-top: 0em;
    border-radius: 25px;
    display: none;
    /* display: inline-block; */
    
    
  }

  ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  /* position: relative; */
  /* position: sticky; */
  /* position: inherit; */
  position: absolute;
  /* background-image: linear-gradient(15deg, #DA2532 0%, #6141AB 100%); */
  border-radius: 25px;
color: white;
  height: 48px;
  /* width: 100%; */
  margin: 0em;
  /* text-align: center; */
  /* margin-left: 10px; */
  align-content: center;

}



ul li ul li {
    /* DROPDOWN */
    /* clear: both; */
    width: 100%;
    /* display: inline-block; */
    display: inline-block;
    /* position: absolute; */
    position: relative;
    /* position: sticky; */
    border-radius: 25px;
    background-color: black;
    /* float: left; */
    color: white;
    padding: 16px;
    text-align: center;
    /* align-content: center; */
    
  }

/* nav ul li { 
    
} */
    

/* nav ul ul {

}
  
     */

a {
  color: whitesmoke;
  display: inline-block;
  position: relative;
  padding: 1px;
  margin: auto;
}

/* .KodyLogo {
    height: 40px;
    width: 40px;
    display: inline-flexbox;
} */


/* ----- END OF NAV, START BODY -------- ----------------------- */






article {
    height: 80%;
    /* width: 649px; */
    width: 74%;
    margin: 2px 2px 2px 2px;
    margin-top: 20%;
    text-shadow: 1px 1px black;
    border: 2px ridge black;
    box-shadow: 1px 1px #9C3371;
    float: left;
    border-radius: 25px;
    background-image: url(/img/MatchupoftheWeekGraphic13.png);
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-size: inherit; */
}

@media (max-width: 600px) {
    article {
        width: 100%;
    }
}

@media (min-width: 800px) {
    article {
        height: 590px;
        /* width: 649px; */
        width: 74%;
        margin: 50px 2px 2px 2px;
        text-shadow: 1px 1px black;
        background-color: black;
        border: 2px ridge black;
        box-shadow: 1px 1px #9C3371;
        float: left;
        border-radius: 25px;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 5%;
        
        
    }
    
}







.HeroImage {
    height: 100%;
    width: 100%;
    border-radius: 25px;
    /* background-image: url(/img/MobileGameofTheWeek.png); */
    /* visibility: hidden; */
   
}

@media (min-width: 700px) {
     .HeroImage {
        height: 100%;
        border-radius: 25px;
        visibility: hidden;
      
    }
}

section {
    height: 650px;
    /* width: 649px; */
    width: 100%;
    margin: 2px;
    border-radius: 25px;
    background-color: black;
    border: 2px ridge black;
    box-shadow: 1px 1px #9C3371;
    /* text-shadow: 1px 1px white; */
    float: left;
    /* clear: left; */
    
}

@media (min-width: 600px) {
    section {
        height: 520px;
    /* width: 649px; */
    width: 74%;
    margin: 2px;
    border-radius: 25px;
    background-color: black;
    border: 2px ridge black;
    box-shadow: 1px 1px #9C3371;
    /* text-shadow: 1px 1px white; */
    float: left;
    background-image: url(/img/LOD2020Playoffs1.png);
    background-size: 100%;
    background-repeat: no-repeat;
    /* clear: left; */
    }
}

@media (min-width: 600px) {
    section.rules {
        height: 520px;
    /* width: 649px; */
    width: 74%;
    margin: 2px;
    border-radius: 25px;
    background-color: black;
    border: 2px ridge black;
    box-shadow: 1px 1px #9C3371;
    /* text-shadow: 1px 1px white; */
    float: left;
    /* background-image: url(/img/LOD2020Playoffs1.png); */
    /* background-size: 100%;
    background-repeat: no-repeat; */
    /* clear: left; */
    }
}

.articleteam {
    height: 40%;
    /* width: 649px; */
    width: 100%;
    margin: 2px 2px 2px 2px;
    margin-top: 20%;
    /* text-shadow: 1px 1px white; */
    border: 2px ridge black;
    box-shadow: 1px 1px #9C3371;
    float: left;
    border-radius: 25px;
    /* background-image: url(/img/MatchupoftheWeekGraphic13.png); */
    background-size: 100%;
    background-repeat: no-repeat;
    /* background-size: inherit; */
}

@media (min-width: 1000px) {
    .articleteam {
        height: 40%;
        /* width: 649px; */
        width: 100%;
        margin: 150px 2px 2px 2px;
        text-shadow: 1px 1px black;
        background-color: black;
        border: 2px ridge black;
        box-shadow: 1px 1px #9C3371;
        float: left;
        border-radius: 25px;
        background-size: 100%;
        background-repeat: no-repeat;
        
        
    }
    
}




.sectionteam {
    height: 50%;
    /* width: 649px; */
    width: 100%;
    margin: 2px;
    border-radius: 25px;
    background-color: black;
    border: 2px ridge black;
    box-shadow: 1px 1px #9C3371;
    text-shadow: 1px 1px black;
    float: left;
    /* clear: left; */
    
}

@media (min-width: 1000px) {
    .sectionteam {
        height: 50%;
    /* width: 649px; */
    width: 48%;
    margin: auto;
    border-radius: 25px;
    background-color: black;
    border: 2px ridge black;
    box-shadow: 1px 1px #9C3371;
    text-shadow: 1px 1px #9C3371;
    float: left;
    /* background-image: url(/img/LOD2020Playoffs1.png); */
    background-size: 100%;
    background-repeat: no-repeat;
    /* clear: left; */
    }
}

aside {
    height: 74%;
    /* height: fit-content; */
    /* width: 500px; */
    /* width: 400px; */
    width: 25%;
    /* margin-top: 10px; */
    margin: 0px 0px 0px 0px;
    border: 2px ridge black;
    /* box-shadow: 1px 1px whitesmoke; */
    background-color: black;
    /* float: right; */
    display: inline;
    position: fixed;
    /* display: none; */
    
    
} 

@media (max-width: 600px) {
    aside {
        display: none;
    }
}

@media (min-width: 1000px) {
    aside {
        height: 100%;
        /* height: fit-content; */
        /* width: 500px; */
        /* width: 400px; */
        width: 25%;
        /* margin-top: 10px; */
        margin: 0px 0px 0px 0px;
        border: 2px ridge black;
        /* box-shadow: 1px 1px whitesmoke; */
        background-color: black;
        /* float: right; */
        display: inline;
        position: fixed;
        /* display: none; */
        
        
    }
}



.GameoftheWeek {
    height: 195px;
    width: 345px;
    margin-left: 10px;
    
    
}



/* .nav a {
    color: rosybrown;
    display: inline-block;
    padding: 100px;
  } */


/* ----------------------------------STANDINGS--------------------------------- */

*{
    font-family: Fjalla One;
    margin: 0;
	border: 0;
	padding: 0;
    color: white;
    box-sizing: border-box;
    /* overflow: hidden; */
    /* font-size: 16.5px; */

}

.ptable {
    display: none;
}

.ptable table{
	margin: 0px auto;
    /* border-collapse: collapse; */
    position: sticky;
    font-size: 11px;
    /* box-shadow: 1px 1px whitesmoke; */
    /* height: fit-content; */
  /* width: fit-content; */
}

@media (min-width: 600px) {
    .ptable {
        /* display: none; */
        display: unset;
        font-family: Fjalla One;
        margin: 0;
	    border: 0;
	    padding: 0;
        color: white;
        box-sizing: border-box;
        /* overflow: hidden; */
        font-size: 11px;
    }
}

@media (min-width: 1000px) {
     .ptable table { 
        margin: 0px auto;
        /* border-collapse: collapse; */
        /* position: sticky; */
        font-size: 13.5px;
        /* box-shadow: 1px 1px whitesmoke; */
        /* height: fit-content; */
         /* width: fit-content; */
        }
}
@media (min-width: 1000px) {
    .ptable{
    margin: 3px 0% 0px 0%;
    height: fit-content;
    /* width: 10px; */
    width: fit-content;
    display: inline-flex;
    font-family: Fjalla One;
        }
}

@media (max-width: 600px) {
    .ptable{
        display:none;
        }
}


th, td {
    padding: 5px;
    margin: 10px;
    padding-left: 0em;
    padding-right: 0em;
    
}

@media (min-width: 1000px) {
    th, td {
        padding: 10.5px;
        margin: 30px;
        font-family: Fjalla One;
    }
}

th{
    /* background-color: blanchedalmond; */
    background-image: linear-gradient(15deg, #DA2532 20%, #6141AB 100%);
    border-radius: 25px;
    color: black;
    /* width: 80px; */
    width: fit-content;
    padding: 8px;
    /* box-shadow: 1px 1px whitesmoke; */
    /* border: black 2px ridge; */
}

@media (min-width: 1000px) {
    th {
        /* background-color: blanchedalmond; */
        background-image: linear-gradient(15deg, #DA2532 20%, #6141AB 100%);
        border-radius: 25px;
        color: black;
        /* width: 80px; */
        width: fit-content;
        padding: 12px;
        /* box-shadow: 1px 1px whitesmoke; */
        /* border: black 2px ridge; */
    }
}

/* .headin{
	text-align: center;
	text-decoration: none;
    color: blanchedalmond;
    box-shadow: 1px 1px #9C3371;
	margin: 1px;
    display: fixed; 
    width: 60px;
    width: 100%;
} */

.wpos{
	text-align: center;
}

.wpos td{
    /* color: #FC5E13; */
    color: white;
}

.pos{
	text-align: center;
}

.pos td{
    
    color: white;
    /* color: #AD14EB; */
}

table .col{
    /* border-bottom: 1px solid #FFFFFF; */
    height: fit-content;
  width: fit-content;
}

.wpos:hover{
    /* background-color: blanchedalmond; */
    background-image: linear-gradient(15deg, #DA2532 0%, #6141AB 100%);
    /* box-shadow: 1px 1px whitesmoke; */
}

.wpos:hover td{
	color: #000000;
}

.pos:hover{
    /* background-color: rosybrown; */
    background-image: linear-gradient(15deg, #DA2532 0%, #6141AB 100%);
}

.pos:hover td{
	color: #000000;
}











/* ul,li { list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0; } */



.TeamLogoBox {
    height: 1%;
    width: 20%;
    /* background-color: blue; */
    clear: left;
    display: inline;
    margin-top: 3px;
    margin-left: 3px;
    margin-right: 3px;
    vertical-align: middle;
    
        
}

@media (min-width: 1000px) {
    .TeamLogoBox {
        height: 20%;
        width: 20%;
        /* background-color: blue; */
        /* clear: left; */
        display: inline-block;
        padding: 10px;
        /* margin-top: 3px;
        margin-left: 3px;
        margin-right: 3px; */
        /* margin: auto; */
        margin-left: 0px;
        /* vertical-align: middle; } */
    }
}

.TeamLogoBoxImage {
    width:30%;
    height:30%;
    border-radius: 50%;
    display: inline;
    vertical-align: left;
    /* size: inherit; */      
}

@media (min-width: 1000px) {
.TeamLogoBoxImage {
    width: 50%;
    height: 50%;
    margin: 1px;
    border-radius: 50%;
    display: inline;
    vertical-align: left;
    /* size: inherit; */
    }
}



footer {
    height: 70%;
    width: 100%;
    margin: 2px;
    border-radius: 25px;
    text-align: center;
    color: white;
    /* display: none; */
     /* background-color: blanchedalmond; */
    /* background-image: linear-gradient(15deg, #DA2532 0%, #6141AB 100%); */
    border: 2px ridge black;
    box-shadow: 1px 1px #9C3371;
    text-shadow: 1px 1px #9C3371;
    clear: left;
    /*   float: left;
    width: 100%; */
}

@media (min-width: 600px) {
    footer {
        height: 70%;
        width: 80%;
        margin: 2px;
        border-radius: 25px;
        text-align: center;
        color: white;
        /* display: none; */
        /* background-color: blanchedalmond; */
        /* background-image: linear-gradient(15deg, #DA2532 0%, #6141AB 100%); */
        border: 2px ridge black;
        box-shadow: 1px 1px #9C3371;
        text-shadow: 1px 1px rosybrown;
        clear: left;
      /*   float: left;
        width: 100%; */
        
    }
}

.privacy {
    position: inline;
    font-size: small;
    width: 440px;
}

.teamhero {
          /* height: 30%;
          width: 50%; */
          /* margin-left: 500px; */
          display: flex;
          flex-direction: column;
          align-self: center;
          margin-top: 4%;
          /* border: 20px ridge #9C3371; */
          border-left: 40px ridge #9C3371;
          border-right: 40px ridge #9C3371;
          border-radius: 12px;
          
      }

.teamherovid {
    align-self: center;
    width: 60%;
    height: 60%;
}

.teamheroSplinter {
    /* height: 30%;
    width: 50%; */
    /* margin-left: 500px; */
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 4%;
    border-left: 40px ridge white;
    border-right: 40px ridge white;
    border-radius: 12px;
    
}

.teamherovidSplinter {
    align-self: center;
    width: 60%;
    height: 60%;
    border-right: 20px;
    border-left: 20px;
    border-color: white;
}




.marquee {
        margin: 0 auto;
        white-space: nowrap;
        overflow: hidden;
        position: sticky;
        /* display: inline; */
        /* float: right;
        /* position: fixed;  */
        /* position: absolute; */
      }
      
.marquee span {
        display: inline-block;
        padding-left: 100%;
        animation: marquee 55s linear infinite;
      }
      
.marquee2 span {
        animation-delay: 16.5s;
      }
      
        @keyframes marquee {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(-100%, 0);
        }   
    }


.btn {
    line-height: 45px;
    height: 60px;
    text-align: center;
    width: 65px;
    cursor: pointer;
    display: block;
    padding: 10px;
    /* position: static; */
    padding-left: 0em;
    padding-right: 0em;
    /* position: relative;
    float: left; */
    /* border-radius: 50px; */
    border: 1px solid #000;
    border-radius: 25px;
    /* height:100%; */
    /* width: 20%; */
    background-color: black;
    }
    
    .btn-two {
        color: #FFF;
        transition: all 0.5s;
        position: relative;	
    }
    .btn-two span {
        z-index: 2;	
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;	
    }
    .btn-two::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.5s;
        border: 1px solid #9C3371;
        background-color: black;
        border-radius: 25px;
    }
    .btn-two::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.5s;
        border: 1px solid #9C3371;
        /* background-color: rgba(255,255,255,0.1); */
        /* background-image: linear-gradient(15deg, #DA2532 0%, #6141AB 100%); */
        border-radius: 25px;
    }
    .btn-two:hover::before {
      transform: rotate(-45deg);
      background-color: rgba(255,255,255,0);
      /* background-image: linear-gradient(15deg, #DA2532 0%, #6141AB 100%); */
      border-radius: 25px;
    }
    .btn-two:hover::after {
      transform: rotate(45deg);
      background-image: linear-gradient(15deg, #DA2532 0%, #6141AB 100%);
      border-radius: 25px;
    }

@media (min-width: 1000px) {
    .btn {
        line-height: 40px;
        height: 40px;
        text-align: center;
        width: 160px;
        cursor: pointer;
        display: inline;
        padding: 0px;
        /* position: static; */
        padding-left: 0em;
        padding-right: 0em;
        position: relative;
        float: left;
        /* border-radius: 50px; */
        border: 1px solid #000;
        border-radius: 25px;
        /* height:100%; */
        /* width: 20%; */
        background-color: black;
        }
        
        .btn-two {
            color: #FFF;
            transition: all 0.5s;
            position: relative;	
        }
        .btn-two span {
            z-index: 2;	
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;	
        }
        .btn-two::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: all 0.5s;
            border: 1px solid #9C3371;
            background-color: black;
            border-radius: 25px;
            
        }
        .btn-two::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: all 0.5s;
            border: 1px solid #9C3371;
            background-color: black;
            
            /* background-image: linear-gradient(15deg, #DA2532 0%, #6141AB 100%); */
            border-radius: 25px;
        }
        .btn-two:hover::before {
          transform: rotate(-45deg);
          background-color: black;
          background-image: linear-gradient(15deg, #DA2532 0%, #6141AB 100%);
          border-radius: 25px;
        }
        .btn-two:hover::after {
          transform: rotate(45deg);
          background-image: linear-gradient(15deg, #DA2532 0%, #6141AB 100%);
          border-radius: 25px;
        }
}
    
#Smallfont {
    /* font-size: 14px; */
    overflow-wrap: wrap;
    line-height: 25px;
}

@media (min-width: 1000px) {
    #Smallfont {
        line-height: 40px;
    }
}


/* --------------------------HOF TABLE--------------------------------------- */

h2 {
    text-align: center;
}

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px #C32A4A;
    /* overflow: hidden; */
}

.fl-table {
    /* border-radius: 5px; */
    font-size: 20px;
    font-weight: normal;
    /* border: none; */
    border-collapse: collapse;
    /* border-radius: 25px; */
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    /* background-color: #C32A4A; */
    background-image: linear-gradient(15deg, #DA2532 0%, #6141AB 100%);
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
    /* border-radius: 25px; */
}

.fl-table td {
    border: 1px solid  black;
    /* font-size: 12px; */
    /* border-radius: 25px; */
    
}

.fl-table thead th {
    color: #ffffff;
    /* background: #4FC3A1; */
    border-radius: 0px;
    background-color: black;
    background: black;
}


/* .fl-table thead th:nth-child(odd) {
    color: #ffffff;
    
} */

.fl-table tr:nth-child(even) {
    background: black;
    /* background-color: #DA2532; */
    
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #9C3371;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
        /* background: black; */
    }
    .fl-table tr td:nth-child(odd) {
        background: transparent;
        /* border-right: 1px solid #9C3371; */
    }
    .fl-table tr td:nth-child(even) {
        /* border-right: 1px solid #9C3371; */
        background: black;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}






/* ul li a:before {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius:50%;
    background: #d35400;
    background: transparent;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  } */
  
  /* ul li a:hover:before {
    transform: scale(1.2);
    box-shadow: 0 0 15px #d35400;
    filter: blur(3px);
  }
  
  ul li a:hover {
    color: #ffa502;
    box-shadow: 0 0 15px #d35400;
    text-shadow: 0 0 15px #d35400;
  } */

/* -------------------------------------- TEAM SCHEDULE TABLE ---------------------------------------- */


.quickstatsbox {
    background-color: black;
        width: 50%;
        height: 100%;
        float: right;
        /* display: inline-block; */
        /* display: inline; */
        font-size: 35px;
        padding: 55px;
        /* margin: 10px; */
        vertical-align: middle;
        box-sizing: border-box;
    
    
}

@media (min-width: 900px) {
    .quickstatsbox {
        font-size:50px;
    }
}

@media (min-width: 1100px) {
    .quickstatsbox {
        background-color: black;
        width: 50%;
        height: 100%;
        float: right;
        /* display: inline-block; */
        /* display: inline; */
        font-size: 75px;
        padding: 55px;
        /* margin: 10px; */
        vertical-align: middle;
        box-sizing: border-box;

    }
}

.quickstats {
    display: block;
    height: 40%;
    width: 40%;
    float: left;
    margin: 12px;
    padding: 18px;
    border: 3px solid white;
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    margin-top: 20%;
}

@media (min-width: 1000px) {
    .quickstats {
        margin-top: 5%;
        margin-bottom: 0;
        padding: 10px;
    }
}

.schedulewrap {
    width: 100%;
    height: 40%;
    background-color: black;
}

#table {
    display: table;
     
     width: 40%; 
     background: black;
     margin: 0;
     margin-left: 5%;
     /* margin-top: 20px; */
     box-sizing: border-box;
     /* float: right; */

 }

 .caption {
     display: block;
     width: 40%;
     /* background: #9C3371; */
     /* background-image: linear-gradient(15deg, #DA2532 0%, #6141AB 100%); */
     background-color: black;
     height: 45px;
     padding-left: 10px;
     color: #fff;
     font-size: 20px;
     line-height: 55px;
     text-shadow: 1px 1px 1px rgba(0,0,0,.3);
     box-sizing: border-box;
     margin-top: 10%;
     margin-left: 3%;
     text-align: center;
     
 }


 .header-row {
     background: #9C3371;
     background-image: linear-gradient(15deg, #DA2532 0%, #6141AB 100%);
     color: #fff;
     

 }

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    
    padding: 6px; 
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}

.primary {
    text-align: left;
}


input[type="radio"],
input[type="checkbox"]{
    display: none;
}


@media only screen and (max-width: 760px)  {

    body {
        padding: 0;
    }

    #table {
        display: block;
        margin: 60px 0 0 0;
        width: 100%;
    }

    .caption {
        /* position: fixed; */
        top: 0;
        text-align: center;
        height: 40px;
        line-height: 44px;
        z-index: 2;
        border-bottom: 2px solid black;
        width: 100%;
        margin-top: 20%;
    }

    .row { 
        position: relative;
        display: block;
        border-bottom: 1px solid #9C3371; 

    }

    .header-row {
        display: none;
    }
    
    .cell { 
        display: block;

        border: none;
        position: relative;
        height: 45px;
        line-height: 45px;
        text-align: left;
    }

    .primary:after {
        content: "";
        display: block;
        position: absolute;
        right:20px;
        top:18px;
        z-index: 2;
        width: 0; 
        height: 0; 
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent; 
        border-right:10px solid #ccc;

    }

    .cell:nth-of-type(n+2) { 
        display: none; 
    }


    input[type="radio"],
    input[type="checkbox"] {
        display: block;
        position: absolute;
        z-index: 1;
        width: 99%;
        height: 100%;
        opacity: 0;
    }

input[type="radio"]:checked,
    input[type="checkbox"]:checked {
      z-index: -1;
    }

    input[type="radio"]:checked ~ .cell,
    input[type="checkbox"]:checked ~ .cell {
        display: block;

        border-bottom: 1px solid #eee; 
    }

    input[type="radio"]:checked ~ .cell:nth-of-type(n+2),
    input[type="checkbox"]:checked ~ .cell:nth-of-type(n+2) {
        
        background: black;
    }

    input[type="radio"]:checked ~ .cell:nth-of-type(n+2):before,
    input[type="checkbox"]:checked ~ .cell:nth-of-type(n+2):before {
        content: attr(data-label);

        display: inline-block;
        width: 60px;
        background-image: linear-gradient(15deg, #DA2532 0%, #6141AB 100%);
        border-radius: 10px;
        height: 20px;
        margin-right: 10px;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: white;

    }

    input[type="radio"]:checked ~ .primary,
    input[type="checkbox"]:checked ~ .primary  {
        border-bottom: 2px solid #9C3371;
    }

    input[type="radio"]:checked ~ .primary:after,
    input[type="checkbox"]:checked ~ .primary:after {
         position: absolute;
        right:18px;
        top:22px;
        border-right: 10px solid transparent;
        border-left: 10px solid transparent; 
        border-top:10px solid #9C3371;
        z-index: 2;
    }
}



/* RULES */

h1 {
    margin-top: 100px;
}